include README AUTHORS CHANGES LICENCE INSTALL

include distribute_setup.py
include setup.cfg

exclude *.pyc *.o *PYTEST*

recursive-include barak *.py

recursive-include docs *.py
recursive-include scripts *.py
recursive-include examples *.py

prune docs/_build
prune build
